.fs-45 {
  font-size: 45px;
  line-height: 45px;
}

.fs-24 {
  font-size: 24px;
  line-height: 20px;
}

.fs-20 {
    font-size: 20px;
    line-height: 20px;
}

.fs-16 {
  font-size: 16px;
  line-height: 16px;
}

.bold {
    font-weight: 500;
}
.bolder {
    font-weight: 700;
}
.uppercase {
    text-transform: uppercase;
}
.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-italic {
  font-style: italic;
}

.mb-20 {
  margin-bottom: var(--spacing-4);
}

.mt-20 {
  margin-top: var(--spacing-4);
}
